*{
	fx-background:#EEEEEE;
	fx-accent-color:#f9690e;
}
.circleindicator-container  {	

	-fx-padding: 5.0;
	-fx-background-color: #EEEEEE;
}
.circleindicator-container > .circleindicator-label {
	-fx-font-weight: bold; 
 	-fx-font-size: 2.5em;
	-fx-text-fill: circleindicator-color;
	-fx-padding: 5.0;
}