.tab *.tab-label {
	  -fx-min-width:80; 
	     -fx-pref-width: 120;
   	-fx-margin:0;
      -fx-alignment:center;
    -fx-pref-height: 75;
    -fx-max-height:  75;
    -fx-rotate: 90;
   
       
}
.tab {
    -fx-padding: 0em 0.5m 3em 0.5em;
    -fx-pref-height: 300;
    -fx-pref-width: 75;
     -fx-alignment:center ;
}
.jfx-button:disabled{
	-fx-opacity: 1.0;
}

